
<section class="breadcrumb-container row">
		<div class="col-sm-16">
	       	<sly data-sly-use.breadcrumb="com.jpmorgan.core.components.Breadcrumb"></sly>
			<ul class="breadcrumb" data-sly-test="${breadcrumb.navList}" data-sly-list.element="${breadcrumb.navList}">
	           	<sly data-sly-test="${!elementList.last}">
					<li><a href="${element.path}.html" title="${element.navigationTitle || element.title || element.name}">${element.navigationTitle || element.title || element.name}</a></li>
	               </sly>
	               <sly data-sly-test="${elementList.last}">
	                   <li><span class="active">${element.navigationTitle || element.title || element.name}</span></li>
	               </sly>
			</ul>

		</div>
	</section>
