<meta http-equiv="content-type" content="text/html; charset=UTF-8" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta data-sly-test.description="${head.description}" name="description" content="${description}" />
<sly data-sly-include="author.html" />
<sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />
<sly data-sly-include="customheaderlibs.html" />
<title>${currentPage.title}</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">